
  .housing_page {
    width: 95%;
    min-height: 35rem;
    margin: 1rem auto 7rem auto;
  }
  .housing_page_header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;
  }
  .housing_page_header_infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .housing_page_header_infos_title {
    font-size: 35px;
    margin: 0;
    color: #FF6060;
  }
  .housing_page_header_infos_subtitle {
    font-size: 18px;
    margin: 0.2rem 0 1rem 0;
  }
  .housing_page_header_infos_tags {
    display: flex;
    flex-wrap: wrap;
  }
  .housing_page_header_infos_tags_tag {
    font-size: 15px;
    color:white;
    background:#FF6060 ;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 1rem 0 0;
    padding: 0.2rem 1.5rem;
    border-radius: 0.5rem;
  }
  .housing_page_header_hoster {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .housing_page_header_hoster_infos {
    display: flex;
    align-items: center;
  }
  .housing_page_header_hoster_infos_name {
    width: 120px;
    text-align: right;
    margin-right: 0.5rem;
    font-size: 18px;
    color: #FF6060;
  }
  .housing_page_header_hoster_infos_img {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 3rem;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .housing_page_header_hoster_ratings {
    margin-top: 1rem;
    text-align: right;
  }
  .housing_page_header_hoster_ratings_star {
    padding-left: 0.3rem;
    font-size: 25px;
    color: #FF6060;
  }
  .housing_page_header_hoster_ratings_star_grey {
    color:#E3E3E3;
  }
  .housing_page_collapses {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .housing_page_collapses_content {
    margin: 1rem 0;
    width: 47%;
  }
  .housing_page_collapses_content ul {
    margin: 0;
  }
  @media (max-width: 768px) {
    .housing_page {
      min-height: 40rem ;
    }
    .housing_page_header {
      flex-direction: column;
      margin-bottom: 0;
    }
    .housing_page_header_infos_tags_tag {
      margin-bottom: 1rem ;
    }
    .housing_page_header_hoster {
      flex-direction: row-reverse;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
    .housing_page_header_hoster_infos {
      align-items: center;
    }
    .housing_page_header_hoster_infos_name {
      margin-top: 0;
      margin-bottom: 0;
    }
    .housing_page_header_hoster_ratings {
      padding: 0 0.2rem 1rem 0;
    }
    .housing_page_header_hoster_ratings_star {
      padding: 0 0.2rem 3rem 0;
    }
    .housing_page_collapses {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .housing_page_collapses_content {
      width: 100%;
      margin-bottom: 0;
    }
  }