.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0px;
}
.header__logo{
  padding: 1rem;
}
.header_logo_img {
  width: 10rem;
}


.header_nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_nav_link {
  font-size: 19px;
 
  
  
}
.header_nav_link :hover{
  text-decoration:underline
}
.header_nav_link_navlink {
  padding: 0.2rem 0.7rem;
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    margin: 0px;
    display: flex;
   
  }
  .header_logo_img {
    width: 7rem;
  }
}

